src/main/resources/META-INF/wsdl/schema/v2/Message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:message2="http://minameddelanden.gov.se/schema/Message/v2" xmlns:message="http://minameddelanden.gov.se/schema/Message" xmlns:notification="http://minameddelanden.gov.se/schema/Notification" xmlns:recipient="http://minameddelanden.gov.se/schema/Recipient" xmlns:sender="http://minameddelanden.gov.se/schema/Sender" xmlns:sig="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://minameddelanden.gov.se/schema/Message/v2" elementFormDefault="qualified">
    <import namespace="http://minameddelanden.gov.se/schema/Message" schemaLocation="../Message.xsd"/>
    <import namespace="http://minameddelanden.gov.se/schema/Recipient" schemaLocation="../Recipient.xsd"/>
    <import namespace="http://minameddelanden.gov.se/schema/Sender" schemaLocation="../Sender.xsd"/>
    <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../xmldsig-core-schema.xsd"/>
    <complexType name="SecureDeliveryHeader">
        <sequence>
            <element name="Sender" type="sender:Sender" minOccurs="1" maxOccurs="1"/>
            <element name="Recipient" type="recipient:RecipientId" minOccurs="1" maxOccurs="1"/>
            <element name="Reference" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="CorrelationId" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="Attention" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="SecureDelivery">
        <sequence>
            <element name="Header" type="message2:SecureDeliveryHeader" minOccurs="1" maxOccurs="1"/>
            <element name="Message" type="message:SecureMessage" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <element name="distributeSecure">
        <complexType>
            <sequence>
                <element name="signedDelivery" type="message2:SignedDelivery" minOccurs="1" maxOccurs="1"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="SignedDelivery">
        <sequence>
            <element name="Delivery" type="message2:SecureDelivery" minOccurs="1" maxOccurs="1"/>
            <element ref="sig:Signature" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="Id" type="ID" use="optional"/>
    </complexType>
    <complexType name="SealedDelivery">
        <sequence>
            <element name="SignedDelivery" type="message2:SignedDelivery" minOccurs="1" maxOccurs="1"/>
            <element name="Seal" type="message:Seal" minOccurs="1" maxOccurs="1"/>
            <element ref="sig:Signature" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="Id" type="ID" use="optional"/>
    </complexType>
</schema>
