src/main/resources/META-INF/wsdl/Message.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://minameddelanden.gov.se/Message" xmlns:message2="http://minameddelanden.gov.se/schema/Message/v2" xmlns:message3="http://minameddelanden.gov.se/schema/Message/v3" xmlns:commonv3="http://minameddelanden.gov.se/schema/Common/v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Message" targetNamespace="http://minameddelanden.gov.se/Message">
	<wsdl:documentation>Version 3.0</wsdl:documentation>
	<wsdl:types>		
		<xsd:schema>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Message/v2" schemaLocation="schema/v2/Message.xsd"/>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Message/v3" schemaLocation="schema/v3/Message.xsd"/>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Common/v3" schemaLocation="schema/v3/Common.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="distributeSecureRequestV3">
		<wsdl:part name="parameters" element="message3:distributeSecure"/>
	</wsdl:message>
	<wsdl:message name="distributeSecureResponseV3">
		<wsdl:part name="parameters" element="message3:distributeSecureResponse"/>
	</wsdl:message>
	<wsdl:message name="checkDistributionStatusRequestV3">
		<wsdl:part name="parameters" element="message3:checkDistributionStatus"/>
	</wsdl:message>
	<wsdl:message name="checkDistributionStatusResponseV3">
		<wsdl:part name="parameters" element="message3:checkDistributionStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="applicationFaultV3">
		<wsdl:part name="fault" element="commonv3:applicationFault"/>
	</wsdl:message>
	<wsdl:portType name="MessagePort-v3">
		<wsdl:operation name="distributeSecure">
			<wsdl:input message="tns:distributeSecureRequestV3"/>
			<wsdl:output message="tns:distributeSecureResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="checkDistributionStatus">
			<wsdl:input message="tns:checkDistributionStatusRequestV3"/>
			<wsdl:output message="tns:checkDistributionStatusResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MessageBinding-v3" type="tns:MessagePort-v3">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="distributeSecure">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="checkDistributionStatus">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Message">
		<wsdl:port name="MessagePort-v3" binding="tns:MessageBinding-v3">
			<wsdl:documentation>Version 3 of the service</wsdl:documentation>
			<soap:address location="http://minameddelanden.gov.se/Message/v3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
