src/main/resources/META-INF/wsdl/Notification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://minameddelanden.gov.se/Notification" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:notification2="http://minameddelanden.gov.se/schema/Notification/v2" xmlns:notification3="http://minameddelanden.gov.se/schema/Notification/v3" xmlns:commonv3="http://minameddelanden.gov.se/schema/Common/v3" name="Notification" targetNamespace="http://minameddelanden.gov.se/Notification">
	<wsdl:documentation>Version 3.0</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Notification/v2" schemaLocation="schema/v2/Notification.xsd"/>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Notification/v3" schemaLocation="schema/v3/Notification.xsd"/>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Common/v3" schemaLocation="schema/v3/Common.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="distributeRequestV3">
		<wsdl:part name="parameters" element="notification3:distribute"/>
	</wsdl:message>
	<wsdl:message name="distributeResponseV3">
		<wsdl:part name="parameters" element="notification3:distributeResponse"/>
	</wsdl:message>
	<wsdl:message name="checkDistributionStatusRequestV3">
		<wsdl:part name="parameters" element="notification3:checkDistributionStatus"/>
	</wsdl:message>
	<wsdl:message name="checkDistributionStatusResponseV3">
		<wsdl:part name="parameters" element="notification3:checkDistributionStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="applicationFaultV3">
		<wsdl:part name="fault" element="commonv3:applicationFault"/>
	</wsdl:message>
	<wsdl:portType name="NotificationPort-v3">
		<wsdl:operation name="distribute">
			<wsdl:input message="tns:distributeRequestV3"/>
			<wsdl:output message="tns:distributeResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="checkDistributionStatus">
			<wsdl:input message="tns:checkDistributionStatusRequestV3"/>
			<wsdl:output message="tns:checkDistributionStatusResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NotificationBinding-v3" type="tns:NotificationPort-v3">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="distribute">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="checkDistributionStatus">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Notification">
		<wsdl:port name="NotificationPort-v3" binding="tns:NotificationBinding-v3">
			<wsdl:documentation>Version 3 of the service</wsdl:documentation>
			<soap:address location="http://minameddelanden.gov.se/Notification/v3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
