src/main/resources/META-INF/wsdl/Recipient.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://minameddelanden.gov.se/Recipient" xmlns:recipientv2="http://minameddelanden.gov.se/schema/Recipient/v2" xmlns:recipientv3="http://minameddelanden.gov.se/schema/Recipient/v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:commonv3="http://minameddelanden.gov.se/schema/Common/v3" name="RecipientDefinitions" targetNamespace="http://minameddelanden.gov.se/Recipient">
	<wsdl:documentation>Version 3.0</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Recipient/v2" schemaLocation="schema/v2/Recipient.xsd"/>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Recipient/v3" schemaLocation="schema/v3/Recipient.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getPendingAccountPreferencesRequestV2">
		<wsdl:part name="parameters" element="recipientv2:getPendingAccountPreferences"/>
	</wsdl:message>
	<wsdl:message name="getPendingAccountPreferencesResponseV2">
		<wsdl:part name="parameters" element="recipientv2:getPendingAccountPreferencesResponse"/>
	</wsdl:message>
	<wsdl:message name="deletePendingAccountPreferencesRequestV2">
		<wsdl:part name="parameters" element="recipientv2:deletePendingAccountPreferences"/>
	</wsdl:message>
	<wsdl:message name="deletePendingAccountPreferencesResponseV2">
		<wsdl:part name="parameters" element="recipientv2:deletePendingAccountPreferencesResponse"/>
	</wsdl:message>
	<wsdl:message name="storeAccountPreferencesRequestV2">
		<wsdl:part name="parameters" element="recipientv2:storeAccountPreferences"/>
	</wsdl:message>
	<wsdl:message name="storeAccountPreferencesResponseV2">
		<wsdl:part name="parameters" element="recipientv2:storeAccountPreferencesResponse"/>
	</wsdl:message>
	<wsdl:message name="changeServiceSupplierRequestV2">
		<wsdl:part name="parameters" element="recipientv2:changeServiceSupplier"/>
	</wsdl:message>
	<wsdl:message name="changeServiceSupplierResponseV2">
		<wsdl:part name="parameters" element="recipientv2:changeServiceSupplierResponse"/>
	</wsdl:message>
	<wsdl:message name="getPendingAccountRequestRequestV3">
		<wsdl:part name="parameters" element="recipientv3:getPendingAccountRequest"/>
	</wsdl:message>
	<wsdl:message name="getPendingAccountRequestResponseV3">
		<wsdl:part name="parameters" element="recipientv3:getPendingAccountRequestResponse"/>
	</wsdl:message>
	<wsdl:message name="getPendingChangeServiceSupplierRequestV2">
		<wsdl:part name="parameters" element="recipientv2:getPendingChangeServiceSupplier"/>
	</wsdl:message>
	<wsdl:message name="getPendingChangeServiceSupplierResponseV2">
		<wsdl:part name="parameters" element="recipientv2:getPendingChangeServiceSupplierResponse"/>
	</wsdl:message>
	<wsdl:message name="deletePendingChangeServiceSupplierRequestV2">
		<wsdl:part name="parameters" element="recipientv2:deletePendingChangeServiceSupplier"/>
	</wsdl:message>
	<wsdl:message name="deletePendingChangeServiceSupplierResponseV2">
		<wsdl:part name="parameters" element="recipientv2:deletePendingChangeServiceSupplierResponse"/>
	</wsdl:message>
	<wsdl:message name="isAuthorizedSignerRequest">
		<wsdl:part name="parameters" element="recipientv2:isAuthorizedSigner"/>
	</wsdl:message>
	<wsdl:message name="isAuthorizedSignerResponse">
		<wsdl:part name="parameters" element="recipientv2:isAuthorizedSignerResponse"/>
	</wsdl:message>
	<wsdl:message name="isReachableRequestV3">
		<wsdl:part name="parameters" element="recipientv3:isReachable"/>
	</wsdl:message>
	<wsdl:message name="isReachableResponseV3">
		<wsdl:part name="parameters" element="recipientv3:isReachableResponse"/>
	</wsdl:message>
	<wsdl:message name="isRegisteredRequestV3">
		<wsdl:part name="parameters" element="recipientv3:isRegistered"/>
	</wsdl:message>
	<wsdl:message name="isRegisteredResponseV3">
		<wsdl:part name="parameters" element="recipientv3:isRegisteredResponse"/>
	</wsdl:message>
	<wsdl:message name="registerRequestV3">
		<wsdl:part name="parameters" element="recipientv3:register"/>
	</wsdl:message>
	<wsdl:message name="registerResponseV3">
		<wsdl:part name="parameters" element="recipientv3:registerResponse"/>
	</wsdl:message>
	<wsdl:message name="deregisterRequestV3">
		<wsdl:part name="parameters" element="recipientv3:deregister"/>
	</wsdl:message>
	<wsdl:message name="deregisterResponseV3">
		<wsdl:part name="parameters" element="recipientv3:deregisterResponse"/>
	</wsdl:message>
	<wsdl:message name="getAccountPreferencesRequestV3">
		<wsdl:part name="parameters" element="recipientv3:getAccountPreferences"/>
	</wsdl:message>
	<wsdl:message name="getAccountPreferencesResponseV3">
		<wsdl:part name="parameters" element="recipientv3:getAccountPreferencesResponse"/>
	</wsdl:message>
	<wsdl:message name="deletePendingAccountRequestRequestV3">
		<wsdl:part name="parameters" element="recipientv3:deletePendingAccountRequest"/>
	</wsdl:message>
	<wsdl:message name="deletePendingAccountRequestResponseV3">
		<wsdl:part name="parameters" element="recipientv3:deletePendingAccountRequestResponse"/>
	</wsdl:message>
	<wsdl:message name="applicationFaultV3">
		<wsdl:part name="fault" element="commonv3:applicationFault"/>
	</wsdl:message>
	<wsdl:portType name="RecipientPort-v3">
		<wsdl:documentation>Port for V3</wsdl:documentation>
		<wsdl:operation name="getAccountPreferences">
			<wsdl:input message="tns:getAccountPreferencesRequestV3"/>
			<wsdl:output message="tns:getAccountPreferencesResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="getPendingAccountPreferences">
			<wsdl:input message="tns:getPendingAccountPreferencesRequestV2"/>
			<wsdl:output message="tns:getPendingAccountPreferencesResponseV2"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="deletePendingAccountPreferences">
			<wsdl:input message="tns:deletePendingAccountPreferencesRequestV2"/>
			<wsdl:output message="tns:deletePendingAccountPreferencesResponseV2"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="storeAccountPreferences">
			<wsdl:input message="tns:storeAccountPreferencesRequestV2"/>
			<wsdl:output message="tns:storeAccountPreferencesResponseV2"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="isReachable">
			<wsdl:input message="tns:isReachableRequestV3"/>
			<wsdl:output message="tns:isReachableResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="isRegistered">
			<wsdl:input message="tns:isRegisteredRequestV3"/>
			<wsdl:output message="tns:isRegisteredResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="register">
			<wsdl:input message="tns:registerRequestV3"/>
			<wsdl:output message="tns:registerResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="deregister">
			<wsdl:input message="tns:deregisterRequestV3"/>
			<wsdl:output message="tns:deregisterResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="getPendingAccountRequest">
			<wsdl:input message="tns:getPendingAccountRequestRequestV3"/>
			<wsdl:output message="tns:getPendingAccountRequestResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="deletePendingAccountRequest">
			<wsdl:input message="tns:deletePendingAccountRequestRequestV3"/>
			<wsdl:output message="tns:deletePendingAccountRequestResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="changeServiceSupplier">
			<wsdl:input message="tns:changeServiceSupplierRequestV2"/>
			<wsdl:output message="tns:changeServiceSupplierResponseV2"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="getPendingChangeServiceSupplier">
			<wsdl:input message="tns:getPendingChangeServiceSupplierRequestV2"/>
			<wsdl:output message="tns:getPendingChangeServiceSupplierResponseV2"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="deletePendingChangeServiceSupplier">
			<wsdl:input message="tns:deletePendingChangeServiceSupplierRequestV2"/>
			<wsdl:output message="tns:deletePendingChangeServiceSupplierResponseV2"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="isAuthorizedSigner">
			<wsdl:input message="tns:isAuthorizedSignerRequest"/>
			<wsdl:output message="tns:isAuthorizedSignerResponse"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RecipientBinding-v3" type="tns:RecipientPort-v3">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAccountPreferences">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPendingAccountPreferences">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deletePendingAccountPreferences">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="storeAccountPreferences">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isReachable">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isRegistered">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="register">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deregister">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPendingAccountRequest">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deletePendingAccountRequest">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="changeServiceSupplier">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPendingChangeServiceSupplier">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deletePendingChangeServiceSupplier">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isAuthorizedSigner">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Recipient">
		<wsdl:port name="RecipientPort-v3" binding="tns:RecipientBinding-v3">
			<wsdl:documentation>Version 3 of the service</wsdl:documentation>
			<soap:address location="http://minameddelanden.gov.se/Recipient/v3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
