src/main/resources/META-INF/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://minameddelanden.gov.se/Service" xmlns:service2="http://minameddelanden.gov.se/schema/Service/v2" xmlns:service3="http://minameddelanden.gov.se/schema/Service/v3" xmlns:common3="http://minameddelanden.gov.se/schema/Common/v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://minameddelanden.gov.se/Service">
	<wsdl:documentation>Version 3.0</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Service/v2" schemaLocation="schema/v2/Service.xsd"/>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Service/v3" schemaLocation="schema/v3/Service.xsd"/>
			<xsd:import namespace="http://minameddelanden.gov.se/schema/Common/v3" schemaLocation="schema/v3/Common.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="notifyRequestV3">
		<wsdl:part name="parameters" element="service3:notify"/>
	</wsdl:message>
	<wsdl:message name="notifyResponseV3">
		<wsdl:part name="parameters" element="service3:notifyResponse"/>
	</wsdl:message>
	<wsdl:message name="deliverSecureRequestV3">
		<wsdl:part name="parameters" element="service3:deliverSecure"/>
	</wsdl:message>
	<wsdl:message name="deliverSecureResponseV3">
		<wsdl:part name="parameters" element="service3:deliverSecureResponse"/>
	</wsdl:message>
	<wsdl:message name="deliverForwardRequestV3">
		<wsdl:part name="parameters" element="service3:deliverForward"/>
	</wsdl:message>
	<wsdl:message name="deliverForwardResponseV3">
		<wsdl:part name="parameters" element="service3:deliverForwardResponse"/>
	</wsdl:message>
	<wsdl:message name="applicationFaultV3">
		<wsdl:part name="fault" element="common3:applicationFault"/>
	</wsdl:message>
	<wsdl:portType name="ServicePort-v3">
		<wsdl:operation name="notify">
			<wsdl:input message="tns:notifyRequestV3"/>
			<wsdl:output message="tns:notifyResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="deliverSecure">
			<wsdl:input message="tns:deliverSecureRequestV3"/>
			<wsdl:output message="tns:deliverSecureResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
		<wsdl:operation name="deliverForward">
			<wsdl:input message="tns:deliverForwardRequestV3"/>
			<wsdl:output message="tns:deliverForwardResponseV3"/>
			<wsdl:fault name="fault" message="tns:applicationFaultV3"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceBinding-v3" type="tns:ServicePort-v3">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="notify">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deliverSecure">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deliverForward">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service">
		<wsdl:port name="ServicePort-v3" binding="tns:ServiceBinding-v3">
			<soap:address location="http://minameddelanden.gov.se/Service/v3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
