wsdl/Notification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="Notification" targetNamespace="http://minameddelanden.gov.se/Notification"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
	xmlns:notification="http://minameddelanden.gov.se/Notification">
	
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://minameddelanden.gov.se/Notification"
    	xmlns:c="http://minameddelanden.gov.se/schema/Common"
    	xmlns:s="http://minameddelanden.gov.se/schema/Sender"
    	xmlns:r="http://minameddelanden.gov.se/schema/Recipient"
    	xmlns:n="http://minameddelanden.gov.se/schema/Notification">

        <xsd:import schemaLocation="schema/Common.xsd" namespace="http://minameddelanden.gov.se/schema/Common"/>
		<xsd:import schemaLocation="schema/Sender.xsd" namespace="http://minameddelanden.gov.se/schema/Sender"/>
        <xsd:import schemaLocation="schema/Recipient.xsd" namespace="http://minameddelanden.gov.se/schema/Recipient"/>
		<xsd:import schemaLocation="schema/Notification.xsd" namespace="http://minameddelanden.gov.se/schema/Notification"/>
		                
    	<xsd:element name="distribute">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="arg0" type="s:OrganizationNumber"
    					minOccurs="1" maxOccurs="1">
    					<xsd:annotation>
    						<xsd:documentation></xsd:documentation>
    					</xsd:annotation>
    				</xsd:element>
    				<xsd:element name="arg1" minOccurs="0"
    					maxOccurs="1">
    					<xsd:annotation>
    						<xsd:documentation></xsd:documentation>
    					</xsd:annotation>

    					<xsd:simpleType>
    						<xsd:restriction base="xsd:string">
    							<xsd:minLength value="1"></xsd:minLength>
    							<xsd:maxLength value="50"></xsd:maxLength>
    						</xsd:restriction>
    					</xsd:simpleType>
    				</xsd:element>
    				<xsd:element name="arg2" type="r:RecipientId"
    					minOccurs="1" maxOccurs="unbounded">
    				</xsd:element>
    				<xsd:element name="arg3" type="n:NotificationMessage" minOccurs="1" maxOccurs="2">
    					<xsd:annotation>
    						<xsd:documentation></xsd:documentation>
    					</xsd:annotation></xsd:element>
    				<xsd:element name="arg4" minOccurs="0"
    					maxOccurs="1">
    					<xsd:annotation>
    						<xsd:documentation></xsd:documentation>
    					</xsd:annotation>

    					<xsd:simpleType>
    						<xsd:restriction base="xsd:string">
    							<xsd:minLength value="1"></xsd:minLength>
    							<xsd:maxLength value="50"></xsd:maxLength>
    						</xsd:restriction>
    					</xsd:simpleType>
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="distributeResponse">
    		<xsd:complexType>
          		<xsd:sequence>
            		<xsd:element name="return" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          		</xsd:sequence>
        </xsd:complexType>
    	</xsd:element>
    	<xsd:element name="distributeFault" type="c:ExceptionInformation">
    	</xsd:element>
    	<xsd:element name="checkDistributionStatus">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="arg0" type="s:OrganizationNumber" minOccurs="1" maxOccurs="1"></xsd:element>
    				<xsd:element name="arg1" minOccurs="1"
    					maxOccurs="1">
    					<xsd:simpleType>
    						<xsd:restriction base="xsd:string">
    							<xsd:minLength value="1"></xsd:minLength>
    							<xsd:maxLength value="50"></xsd:maxLength>
    						</xsd:restriction>
    					</xsd:simpleType>
    				</xsd:element>

    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="checkDistributionStatusResponse">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="return" type="n:NotificationStatus" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="checkDistributionStatusFault" type="c:ExceptionInformation">

    	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="distributeRequest">
    <wsdl:part element="notification:distribute" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="distributeResponse">
    <wsdl:part element="notification:distributeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="distributeFault">
  	<wsdl:part name="fault" element="notification:distributeFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkDistributionStatusRequest">
  	<wsdl:part name="parameters" element="notification:checkDistributionStatus"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkDistributionStatusResponse">
  	<wsdl:part name="parameters" element="notification:checkDistributionStatusResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkDistributionStatusFault">
  	<wsdl:part name="fault" element="notification:checkDistributionStatusFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NotificationPort">
    <wsdl:operation name="distribute">
      	<wsdl:input message="notification:distributeRequest"/>
      	<wsdl:output message="notification:distributeResponse"/>
        <wsdl:fault name="fault" message="notification:distributeFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkDistributionStatus">
    	<wsdl:input message="notification:checkDistributionStatusRequest"></wsdl:input>
    	<wsdl:output message="notification:checkDistributionStatusResponse"></wsdl:output>
        <wsdl:fault name="fault" message="notification:checkDistributionStatusFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationBinding" type="notification:NotificationPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="distribute">
      <soap:operation soapAction=""/>
	      <wsdl:input>
	        <soap:body use="literal"/>
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal"/>
	      </wsdl:output>
	      <wsdl:fault name="fault">
		    <soap:fault name="fault" use="literal"/>
		  </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkDistributionStatus">
    	<soap:operation soapAction=""/>
	      <wsdl:input>
	        <soap:body use="literal"/>
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal"/>
	      </wsdl:output>
	      <wsdl:fault name="fault">
		    <soap:fault name="fault" use="literal"/>
		  </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notification">
    <wsdl:port binding="notification:NotificationBinding" name="NotificationPort">
      <soap:address location="http://minameddelanden.gov.se/Notification"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
